<!DOCTYPE html>
<html>
<head>
    <title>Laptop Deals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Laptop Deals</h1>
    <table class="laptop-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Initial Price</th>
                <th>Final Price</th>
                <th>Savings</th>
            </tr>
        </thead>
        <tbody>
            {% for laptop in laptops %}
            <tr>
                <td><a href="{{ laptop['link'] }}">{{ laptop['name'] }}</a></td>
                <td>{{ laptop['initial_price'] }}</td>
                <td>{{ laptop['final_price'] }}</td>
                <td>{{ laptop['savings'] }}</td>
            </tr>
            <tr>
                <td colspan="4">{{ laptop['js_code']|safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
